.template {
  /* background-color: yellow; */
  background-image: url("istockphoto-822159096-1024x1024.jpg");
  background-size: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 120vh;
}

.box1 {
  background-color: blanchedalmond;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 70vh;
}

.heading1 {
  font-size: 4vw;
}

.picture {
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.paragraph1{
  font-size: 1.2vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}