{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <meta http-equiv="pragma" content="no-cache">
    <title>Tugas PPW Lab 01</title>
</head>
<body class="template">
    <div class="box1">
    <div class="heading1"> Biodata </div>
    <a href="https://quanta2018.com/Biodata/detail.html?absen=201">
        <img src="{% static 'assets/201.png' %}" class="picture">
    </a>
    <p class="paragraph1">
        Nama : Abdurrahman Luqmanul Hakim (Ludy)<br><br>
        NPM : 1806141113<br><br>
        Angkatan : Quanta 2018<br><br>
        Hobi : Main Game<br><br>
        Deskripsi tentang saya:<br>Nama saya Abdurrahman Luqmanul Hakim.<br>Saya adalah mahasiswa angkatan 2018.<br>Saya memiliki hobi main game.<br>Saya berkuliah di UI.<br><br>
        Tempat Kuliah : Universitas Indonesia
    </p>
    </div>
</body>
